/* 
    Created on : 14 nov. 2015, 16:51:20
    Author     : boutina
*/
body{    
    background-image : url('../images/background.jpg');
    background-size : cover;
    background-repeat : no-repeat;    
}

.full_height{
    margin: 0px;
    padding: 0px;
    height: 90%;
}
.ui-popup-container .ui-content>h2:first-child{
    margin-top : 40px;
}

#contact{
    >.ui-grid-b{
        text-align : center;
        color : black;
    }
}


#home {
    #blog_link{
        background : url('../images/wordpress.jpg') no-repeat;
        background-size : cover;
    }

    #pictures_link{
        background : url('../images/flickr.jpg') no-repeat;
        background-size : cover;
    }

    #map_link{
        background : url('../images/map.jpg') no-repeat;
        background-size : cover;
    }

    #contact_link{
        background : url('../images/contact.jpg') no-repeat;
        background-size : cover;
    }

    .ui-grid-a{
        a{
            color : black;
            text-shadow: 0px 0px 18px rgba(255, 255, 255, 1);
            font-size: 2em;
            flex : 1;
            justify-content : center;
            flex-direction : column;
            display : flex;
            margin : 5px;

            &:hover{
                background-color : rgba(255,255,255,1);
            }
        }

        .ui-btn-icon-top::after{
            width: 50px;
            height: 50px;
            top: 1em;
        }

        box-sizing: border-box;
        display: flex;
        flex : 1;
        border-color : transparent;
    }

    >.ui-content{
        position : absolute;
        top : 50px;
        left : 0;
        bottom : 50px;
        right : 0;
        flex : 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


.blog-post{
    .thumbnail{
        width: 5vw;
        height : auto;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
    }

    &>div{       

        p{
            margin: 1px;
        }

        vertical-align: middle;
        display: inline-block;
        width : 90%;
        height: auto;
        white-space: normal;

    }

    text-align : left;

    width: 75vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#map{
    height: 90%;

    #map_direction{
        max-height: 100%;
        overflow-y:scroll;
    }

    #map_container{
        height: 100%;
    }
}

.error-text{
    color : #B21212;
}

#photos{
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   5px;
    -moz-column-count:    5;
    -moz-column-gap:      5px;
    column-count:         5;
    column-gap:           5px;

    &>a {
        height: 100%;
        display: inline-block;

        img{
            width: 100% !important;
            height: auto !important;
            margin-bottom : 10px !important;
        }
    }
}


@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }

    #map{
        #map_direction{
            width:  100%;
            overflow-y: scroll;
        }

        #map_container{
            height: 50%;
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}